*{
    text-decoration: none;
    margin: 0px;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: white;
}

nav{
    background-color: white;
    height: 90px;
    width: 100%;
}

main{
    background-color: rgb(233, 109, 21);
    width: 100%;
    height: 1850px;
    overflow-y: hidden;
}

#logo-burger-king{
    position: relative;
    left: 80px;
    top: 10px;
}

#barra-de-busqueda{
    width: 280px;
    height: 20px;
    position: relative;
    left: 630px;
    top: -20px;
}

#icono-lupa{
    width: 15px;
    height: 15px;
    position: relative;
    left: 604px;
    top: -17px;
}

#llevar-inicio{
    color: black;
    position: relative;
    left: 680px;
    top: -20px;
}

#llevar-menu{
    color: black;
    position: relative;
    left: 715px;
    top: -20px;
}

#llevar-contacto{
    color: black;
    position: relative;
    left: 740px;
    top: -20px;
}

#trompeta-izquierda{
    margin: 0px;
    position: relative;
    left: 20px;
    top: 10px;
}

#frase-bienvenida{
    color: white;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    position: relative;
    left: 405px;
    top: -90px;
}

#corona-burger-king{
    background-color: rgb(233, 109, 21);
    position: relative;
    top: -265px;
    left: 395px;
    transform: rotate(-45deg);
}

#trompeta-derecha{
    margin: 0px;
    position: relative;
    left: 1143px;
    top: -193px;
    transform: rotateY(180deg);
}

#imagen-restaurante{
    position: relative;
    top: -183px;
}

#menu{
    position: relative;
    top: -160px;
}

#division-titulo-menu{
    border-radius: 5%;
    width: 900px;
    height: 50px;
    margin: 10px;
    position: relative;
    top: -5px;
    left: 208px;
    background-color: #ee3123;
    overflow-y: hidden;
}

#titulo-menu{
    font-size: 28px;
    color: white;
    font-family: 'Arial Narrow';
    position: relative;
    left: 334px;
    top: 7px
}

#logo-titulo-menu-izquierdo{
    position: relative;
    left: 34px;
    top: -23px;
}

#logo-titulo-menu-derecho{
    position: relative;
    left: 804px;
    top: -23px;
}

#redondo-titulo-menu-izquierdo{
    height: 49px;
    width: 50px;
    border-radius: 50px;
    background-color: #ee3123;
    position: relative;
    top: -64px;
    left: 203px;
}

#redondo-titulo-menu-derecho{
    height: 48px;
    width: 50px;
    border-radius: 50px;
    background-color: #ee3123;
    position: relative;
    top: -113px;
    left: 1085px;
}

.division-platos{
    border-radius: 30%;
    position: relative;
    height: 330px;
    width: 560px;
    background-color: #ee3123;
}

.division-entradas{
    border-radius: 30%;
    position: relative;
    height: 313px;
    width: 350px;
    background-color: white;
}

.titulo-comidas{
    color: white;
    font-family: 'Lucida Console';
    font-style:oblique;
}


#div-whopper-doble{
    left: 210px;
    top: -85px;
}

#imagen-whopper-doble{
    position: relative;
    top:-605px;
    left: 250px;
}

#titulo-whopper-doble{
    position: relative;
    top: -155px;
    left: 367px;
    font-size: 30px;
}

#precio-g-whopper-doble{
    position: relative;
    font-size: 65px;
    top: -320px;
    left: 560px;
}

#precio-p-whopper-doble{
    position: relative;
    font-size: 30px;
    top: -360px;
    left: 637px;
}

#div-party-box{
    top: -1590px;
    left: 785px;
}

#imagen-party-box{
    position: relative;
    top: -1946px;
    left: 807px;
}

#titulo-party-box{
    font-size: 30px;
    position: relative;
    color: rgb(233, 109, 21);
    top: -1651px;
    left: 876px;
}

#precio-g-party-box{
    font-size: 40px;
    position: relative;
    color: rgb(233, 109, 21);
    top: -1841px;
    left: 1002px;
}

#precio-p-party-box{
    font-size: 20px;
    position: relative;
    color: rgb(233, 109, 21);
    top: -1867px;
    left: 1049px;
}

#div-whopper-queso-tocineta{
    top: -490px;
    left: 575px;
}

#titulo-whopper-queso-tocineta{
    position: relative;
    font-size: 27px;
    top: -568px;
    left: 621px;
}

#precio-g-whopper-queso-tocineta{
    font-size: 65px;
    position: relative;
    top: -725px;
    left: 924px;

}

#precio-p-whopper-queso-tocineta{
    font-size: 30px;
    position: relative;
    top: -765px;
    left: 1002px;
}

#imagen-whopper-queso-tocineta{
    position: relative;
    top: -1000px;
    left: 640px;
}

#div-merengada-king-cocosette{
    top: -1815px;
    left: 209px;
}

#titulo-merengada-king-cocosette{
    font-size: 21px;
    position: relative;
    color: rgb(233, 109, 21);
    top: -1889px;
    left: 230px;
}

#precio-g-merengada-king-cocosette{
    font-size: 40px;
    position: relative;
    top: -2030px;
    left: 415px;
    color: rgb(233, 109, 21);
}

#precio-p-merengada-king-cocosette{
    font-size: 23px;
    position: relative;
    top: -2056px;
    left: 460px;
    color: rgb(233, 109, 21);
}

#imagen-merengada-king-cocosette{
    position: relative;
    top: -2190px;
    left: 207px;
}

#div-king-pollo-americano{
    background-color: #ee3123;
    border-radius: 30%;
    height: 380px;
    width: 923px;
    position: relative;
    top: -2080px;
    left: 209px;
}

#titulo-king-pollo-americano{
    position: relative;
    top: -2180px;
    left: 369px;
    font-size: 43px;
}

#precio-g-king-pollo-americano{
    position: relative;
    font-size: 80px;
    color: white;
    top: -2350px;
    left: 307px;
}

#precio-p-king-pollo-americano{
    position: relative;
    font-size: 40px;
    color: white;
    top: -2403px;
    left: 402px;
}

#imagen-king-pollo-americano{
    position: relative;
    top: -2710px;
    left: 572px;
}

#div-mas{
    background-color: #ee3123;
    height: 34px;
    width: 870px;
    position: relative;
    top: -2542px;
    left: 240px;
}

#redondo-mas-izquierdo{
    background-color: #ee3123;
    height: 68px;
    width: 74px;
    border-radius: 50%;
    position: relative;
    top: -2610px;
    left: 198px;
}

#redondo-mas-derecho{
    background-color: #ee3123;
    height: 68px;
    width: 74px;
    border-radius: 50%;
    position: relative;
    top: -2678px;
    left: 1078px;
}

#titulo-mas{
    position: relative;
    top: -2971px;
    left: 570px;
    font-size: 300px;
    color: white;
}

footer{
    background-color: white;
    height: 240px;
    overflow-y: hidden;
}

#p-formulario{
    font-family: arial;
    position: relative;
    top: 23px;
    color: black;
    left: 40px;
}

#formulario{
    height: 102px;
}

#correo{
    position: relative;
    top: 30px;
    left: 40px;
    height: 20px;
    width: 268px;
    font-family: arial;
}

#boton-submit{
    position: relative;
    top: 68px;
    left: -237px;
    color: white;
    background-color: gray;
    height: 25px;
    width: 120px;
}

#logo-instagram{
    position: relative;
    top: -15px;
    left: 572px;
}

#logo-twitter{
    position: relative;
    top: -15px;
    left: 609px;
}

#logo-whatsapp{
    position: relative;
    top: -17px;
    left: 643px;
}

#linea-izquierda{
    border-top: 1px solid gray;
    height: 2px;
    width: 320px;
    position: relative;
    left: 219px;
    top: -42px;
}

#linea-derecha{
    border-top: 1px solid gray;
    height: 2px;
    width: 320px;
    position: relative;
    left: 830px;
    top: -45px;
}

#copy-burger-king{
    position: relative;
    top: -10px;
    left: 39px;
    color: gray;
}

#indicador-dev{
    font-size: 20px;
    position: relative;
    top: -33px;
    left: 1188px;
    color: gray;
}