*{
    margin: 0px;
    padding: 0;

}

body{
    background-color: white;
}

nav{
    background-color: white;
    height: 90px;
    width: 100%;
}

main{
    background-color: rgb(233, 109, 21);
    width: 100%;
}

#logo-burger-king{
    position: relative;
    left: 80px;
    top: 10px;
}

#barra-de-busqueda{
    width: 280px;
    height: 20px;
    position: relative;
    left: 630px;
    top: -20px;
}

#icono-lupa{
    width: 15px;
    height: 15px;
    position: relative;
    left: 604px;
    top: -17px;
}

#llevar-inicio{
    text-decoration: none;
    color: black;
    position: relative;
    left: 680px;
    top: -20px;
}

#llevar-menu{
    text-decoration: none;
    color: black;
    position: relative;
    left: 715px;
    top: -20px;
}

#llevar-contacto{
    text-decoration: none;
    color: black;
    position: relative;
    left: 740px;
    top: -20px;
}

#trompeta-izquierda{
    margin: 0px;
    position: relative;
    left: 20px;
    top: 10px;
}

#frase-bienvenida{
    color: white;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    position: relative;
    left: 405px;
    top: -90px;
}

#corona-burger-king{
    background-color: rgb(233, 109, 21);
    position: relative;
    top: -265px;
    left: 395px;
    transform: rotate(-45deg);
}

#trompeta-derecha{
    margin: 0px;
    position: relative;
    left: 1143px;
    top: -193px;
    transform: rotateY(180deg);
}

#imagen-restaurante{
    position: relative;
    top: -183px;
}

#menu{
    position: relative;
    top: -160px;
}

#division-titulo-menu{
    border-radius: 5%;
    width: 900px;
    height: 50px;
    margin: 10px;
    position: relative;
    top: -5px;
    left: 208px;
    background-color: #ee3123;
}

#titulo-menu{
    font-size: 28px;
    color: white;
    font-family: 'Arial Narrow';
    position: relative;
    left: 334px;
    top: 7px
}

#logo-titulo-menu-izquierdo{
    position: relative;
    left: 34px;
    top: -23px;
}

#logo-titulo-menu-derecho{
    position: relative;
    left: 804px;
    top: -23px;
}

#redondo-titulo-menu-izquierdo{
    height: 49px;
    width: 50px;
    border-radius: 50px;
    background-color: #ee3123;
    position: relative;
    top: -64px;
    left: 203px;
}

#redondo-titulo-menu-derecho{
    height: 48px;
    width: 50px;
    border-radius: 50px;
    background-color: #ee3123;
    position: relative;
    top: -113px;
    left: 1085px;
}

.division-platos{
    border-radius: 30%;
    position: relative;
    height: 330px;
    width: 560px;
    background-color: #ee3123;
}

.division-entradas{
    border-radius: 30%;
    position: relative;
    height: 330px;
    width: 350px;
    background-color: white;
}

.titulo-comidas{
    text-decoration: none;
    color: white;
    font-family: 'Lucida Console';
    font-style:oblique;
}


#div-whopper-doble{
    left: 210px;
    top: -85px;
}

#imagen-whopper-doble{
    position: relative;
    top:-605px;
    left: 250px;
}

#titulo-whopper-doble{
    position: relative;
    top: -155px;
    left: 367px;
    font-size: 30px;
}

#precio-g-whopper-doble{
    position: relative;
    font-size: 65px;
    top: -320px;
    left: 560px;
}

#precio-p-whopper-doble{
    position: relative;
    font-size: 30px;
    top: -360px;
    left: 637px;
}

#div-party-box{
    top: -1356px;
    left: 785px;
}

#imagen-party-box{
    position: relative;
    top: -1720px;
    left: 800px;
}

#titulo-party-box{
    font-size: 30px;
    position: relative;
    color: rgb(233, 109, 21);
    top: -1415px;
    left: 873px;
}

#precio-g-party-box{
    font-size: 40px;
    position: relative;
    color: rgb(233, 109, 21);
    top: -1614px;
    left: 1002px;
}

#precio-p-party-box{
    font-size: 20px;
    position: relative;
    color: rgb(233, 109, 21);
    top: -1640px;
    left: 1050px;
}